body{
  margin:0%;
  margin-top: 0%;
background: url("Logo.jpg");
background-repeat: repeat;
}
/* customizable snowflake styling */
.snowflake {
color: #fff;
font-size: 1em;
font-family: Arial;
text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:absolute;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:11s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.demo {
font-family: 'Raleway', sans-serif;
color:#fff;
display: block;
margin: 0 auto;
padding: 15px 0;
text-align: center;
}
.demo a{
font-family: 'Raleway', sans-serif;
color: #000;
}

div.header{
  margin-top: 10px;
  background-color: #333333;
  width: 87%;
  height: 100px;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  height: 10vh;
  width: 52%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 360px;
}

.Projects,
.Products {
  position: relative;
}

.Projects ul,
.Products ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #0f5403;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: auto;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.Projects li,
.Products li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Projects li:hover,
.Products li:hover {
  background-color: #127a00;
}

.Projects a,
.Products a {
  color: #d6d6d6;
  text-decoration: none;
}

.dropdown button,
.home {
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.Projects button:focus + ul,
.Products button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}


img.klok{
  position: absolute;
  top: 27px;
  left: 130px;

}

h5.first{
  color: #d6d6d6;
  position: absolute;
  top: 0px;
  left: 152px;
}

img.duim{
  position: absolute;
  top: 27px;
  left: 400px;
}
h5.second{
  color: #d6d6d6;
  position: absolute;
  top: 0px;
  left: 420px;
}

img.stars{
  position: absolute;
  top: 27px;
  left: 690px;
}
h5.third{
  color: #d6d6d6;
  position: absolute;
  top: 0px;
  left: 760px;
}
hr.head{
  background-color: #d6d6d6;
  height: 1px;
  width: 1270px;
  position: absolute;
  top: 50px;
  left: 130px;
}
img.kerstboom{
  position: absolute;
  top: 57px;
  left: 115px;

}
h2.logo-title{
  color: #d6d6d6;
  position: absolute;
  top: 50px;
  left: 162px;
}
.Kerstmis{
  position: absolute;
  top: 340px;
  right: 125px;
}
.Sneeuw{
  position: absolute;
  top: 520px;
  right: 800px;
}
.main{
  margin-top: 20px;
  background-color: #333333;
  width: 87%;
  height: 900px;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #333333;
  width: 87%;
  height: 100px;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
}

hr.foot{
  background-color: #d6d6d6;
  height: 1px;
  width: 1270px;
  position: absolute;
  top: 1055px;
  left: 130px;
}
h2.fourth{
  color: #d6d6d6;
  position: absolute;
  top: 1050px;
  left: 135px;
}
h4.fifth{
  color: #d6d6d6;
  position: absolute;
  top: 1076px;
  left: 135px;
}
a.mail{
  color: #8cd50b;
}
h6.sixth{
  color: #d6d6d6;
  position: absolute;
  top: 1105px;
  left: 680px;
}
h3.seventh{
  color: #d6d6d6;
  position: absolute;
  top: 1060px;
  left: 1120px;
}
h4.eight{
  color: #d6d6d6;
  position: absolute;
  top: 1085px;
  left: 1270px;
  font-style: italic;
}
